body {
    font-family: 'openSans',sans-serif;
    margin: 0;
    background-color: white;
}

.main-brand img {
    height: 2rem;
    vertical-align: middle;
    padding: 0.5rem;
}

.main-header {
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    border: 1px solid rgb(228, 225, 225);
    z-index: 10;
}


.main-nav {
    display: flex;
}

.nav-items {
    margin: 0;
    padding: 1rem;
    list-style: none;
    display: flex;
}

.n-item {
    margin: 0 1rem;
}

.n-item a {
    color:rgb(72, 71, 71);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 75;
}
main {
    margin-top: 10px;
}

.main-1 {
    display: flex;
}
.side-card {
    height: 100vh;
    width: 10vw;
    padding: 3rem;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.side-op {
    position: fixed;
    list-style: none;
    left: 10px;
}

.side-head {
    font-weight: 100;
    border-bottom: 1px solid rgb(228, 225, 225);
}

#el-1
 {
     color: black;
} 

.side-el a {
    margin-top: rem;
    margin-left:1rem ;
    font-weight: 75;
    text-decoration: none;
    color: rgb(72, 71, 71);
    align-items: center;
    font-size: small;
}

.main-sec {
    background: url("Dragonfruit.png");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: 100%;
    width: 600px;
    height: 400px;
    position: absolute;
    right:35%;
}

.pd{
    padding: 1rem;
    padding-top: 4rem;
    width: 500px;
    height: 320px;
    background-color:rgb(246, 246, 246) ;
    position: absolute;
    right: 2%;
}

.pd-header {

}

    